<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle compra</title>
    <link rel="stylesheet" href="../css/estilos__detalle_compra.css" />
    <link rel="stylesheet" href="../css/estilos__globales.css" />
  </head>
  <body>
    <!-- HEADER -->
    <header class="nav__header">
      <ul>
        <li class="menu__logo">
          <a href="#"></a>
        </li>
        <!-- <li class="menu__categorias"></li> -->
        <li class="menu__general">
          <ul>
            <li class="menu__busqueda">
              <form autocomplete="off">
                <article>
                  <input type="text" name="q" placeholder="Buscar" />
                </article>
              </form>
            </li>
            <li class="menu__carrito">
              <a href="#">Carrito</a>
            </li>
            <li class="menu__cuenta__horizontal">
              <a href="#">User</a>
              <ul class="menu__cuenta__vertical">
                <li>
                  <a href="#">Mi cuenta</a>
                </li>
                <li><a href="#">Pedidos</a></li>
                <li><a href="#">Cerrar sesion</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </header>

    <main class="container__general">
      <section class="title__details">
        <h3>Detalles de compra</h3>
      </section>
      <section class="information__details">
        <article class="extra__datails">
          <article class="recoger__tienda">
            <h5>Nos encontramos aqui</h5>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1878.238059782261!2d-98.99960740209671!3d19.69234357199865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ed581677a649%3A0xb33a3da2be90981f!2sPostres%20la%20delicia%20sierra%20hermosa!5e0!3m2!1ses!2smx!4v1694928410463!5m2!1ses!2smx"
              style="border: 1px solid black; border-radius: 20px"
              width="550px"
              height="450px"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </article>
          <article class="envio__tienda">
            <p>Selecciona alguna direccion</p>
          </article>
        </article>
        <article class="general__information">
          <h5>Tu pedido</h5>
          <article class="listado__productos">
            <article class="title__listado">
              <p>Producto</p>
              <p>Subtotal</p>
            </article>
            <article class="body__listado">
              <p>P1</p>
              <p>Sub1</p>
            </article>
          </article>
          <article class="text__envio">
            <p>Tipo envio</p>
            <p>Recoger en tienda</p>
          </article>
          <article class="text__total">
            <p>Total</p>
            <p>$</p>
          </article>
          <article class="tipo__pago">
            <p>Selecciona un tipo de pago</p>
            <input type="radio" name="tipo__pago" id="" /><label for=""
              >Terminal</label
            >
            <input type="radio" name="tipo__pago" id="" /><label for=""
              >Efectivo</label
            >
          </article>
          <button class="btn__finalizar__compra">Finalizar compra</button>
        </article>
      </section>
    </main>

    <footer>
      <section class="container__footer">
        <section class="box__footer">
          <article class="logo">
            <img src="" alt="" />
          </article>
          <article class="terms">
            <aside>DERECHOS</aside>
          </article>
        </section>

        <section class="box__footer">
          <h4>Secciones</h4>
          <a href="#"></a>
          <a href="#"></a>
          <a href="#"></a>
        </section>

        <section class="box__footer">
          <h4>Referencias</h4>
          <a href="#"></a>
        </section>

        <section class="box__footer">
          <h4>Redes Sociales</h4>
          <a href="#"></a>
        </section>
      </section>
      <section class="box__copyrigtht">
        <hr />
        <aside>
          <p>Todos los derechos reservados &copy;</p>
        </aside>
      </section>
    </footer>
    <script
      src="https://kit.fontawesome.com/5f7aa8b497.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
