@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* HEADER */

.nav__header {
  font-family: "Berkshire Swash", cursive;
  height: auto;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #decdbe;
}

.nav__header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1800px;
  gap: 20px;
}

/* LOGO */

.nav__header .menu__logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70px;
  width: 70px;
  background-image: url("../img/logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* BUSQUEDA */

.nav__header .menu__busqueda form {
  margin: auto;
}

.nav__header .menu__busqueda form > article {
  display: flex;
  padding: 9px 22px 9px 26px;
  border-radius: 30px;
  border: 2px solid rgba(222, 209, 211, 0.7);
  box-shadow: rgba(255, 255, 255, 0.5) -8px -8px 15px,
    rgba(0, 0, 0, 0.1) 10px 10px 10px,
    rgba(255, 255, 255, 0.5) -8px -8px 15px inset,
    rgba(0, 0, 0, 0.1) 10px 10px 10px inset;
}

.nav__header .menu__busqueda form input {
  border: none;
  background: transparent;
  font-weight: bold;
  padding-left: 24px;
  background-image: url("../img/lupa.png");
  background-size: 16px;
  background-repeat: no-repeat;
  width: 0px;
  transition: all 1s;
}

.nav__header .menu__busqueda form input:focus {
  outline: none;
  width: 250px;
}

/* MENU DESPEGABLE */

.nav__header ul .menu__cuenta__vertical {
  position: absolute;
  display: none;
  list-style: none;
  width: auto;
  max-width: 200px;
  background-color: #decdbe;
}

.nav__header ul .menu__cuenta__horizontal:hover .menu__cuenta__vertical {
  display: block;
}

.nav__header ul .menu__cuenta__vertical a {
  display: block;
  padding: 20px 15px;
  text-decoration: none;
}

.nav__header ul .menu__cuenta__vertical a:hover {
  background-color: rgb(222, 205, 206);
}

/* FOOTER */

footer {
  background-color: white;
  width: 100%;
  padding: 50px 0px;
  background-image: url("../img/background-footer.svg");
  background-size: cover;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo img {
  width: 180px;
}

.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.box__footer h4 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
}

.box__footer a {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.box__footer a:hover {
  opacity: 0.8;
}

.box__footer a .fab {
  font-size: 20px;
}

.box__copyrigtht {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyrigtht p {
  margin-top: 20px;
  color: #7a7a7a;
}

.box__copyrigtht hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}
